h3 {
margin:10px;
}
ul {
    list-style: none;
  	padding-left: 0;
}
#caption {
  font-style: italic;
}
li span {
  font-weight: bold;
}
.outer {
  display: flex;
  flex-wrap: wrap;
  border: 3px solid rgb(115, 115, 115);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px darkgray;
  width: 320px;
  font: 12pt "Times New Roman", serif;
  background-color: rgb(209, 197, 169);
}
img {
  width: 300px;
  margin: 10px;
  border-radius: 10px;
}
.inner {
  border: 3px solid rgb(115, 115, 115);
  width: 95%;
  padding: 0.5em;
  margin: 10px;
  background-color: beige;
  border-radius: 10px;
}